
    .btn-sinregistro {
        background-color:  #ffffff;
        color: #808080;
        border-color: #808080;
        border-radius: 5px;
    }
    .btn-buscar { 
        background-color:  #ffffff;
        color: #faa625;
        border-color: #faa625;
        border-radius: 5px;
        }
    .btn-buscar:hover {
        background-color: #faa625;
        color: #ffffff;
        }
    .btn-mostrartodo { 
        background-color:  #ffffff;
        color: #2f97e7;
        border-color: #2f97e7;
        border-radius: 5px;
        }
    .btn-mostrartodo:hover {
        background-color: #2f97e7;
        color: #ffffff;
        }
    .btn-container {
        display: flex;
        align-items: center;
        gap: 2px;
    }
    .btn-container .btn,
    .btn-container .btn-enviarobservacion {
        justify-content: center;
    }
    .nav-tabs {
        display: flex;
        justify-content: space-between;
    }
    .nav-tabs .nav-item {
        flex: 1;
    }
    .nav-tabs .nav-link {
        display: block;
        text-align: center;
        width: 100%;
        font-weight: bold;
        font-size: 14px;
        color: #faa625;
        background-color: #fef4e7;
    }
    .nav-tabs .nav-link.active {
        font-weight: bold;
        font-size: 14px;
        color: #94c93b;
        background-color: #ffffff;
    }
    .circle {
        display: inline-block;
        width: 20px;
        height: 20px;
        line-height: 20px;
        border-radius: 50%;
        text-align: center;
        font-size: 14px;
        font-weight: bold;
        margin-left: 8px;
    }
    .nav-link.active .circle {
        background-color: #94c93b;
        color: #fff;
    }
    .nav-link .circle {
        background-color: #faa625;
        color: #fff;
    }
    .btn-upload {
        background-color: #28a745;
        color: white;
    }
    .btn-disabled {
        background-color: #d3d3d3;
        color: #6c757d;
        cursor: not-allowed;
    }
    .btn-upload:hover {
        background-color: #218838;
    }
    .btn-disabled:hover {
        background-color: #d3d3d3;
    }
    .modal-content {
        border-radius: 10px;
        }
    .modal-header {
        border-bottom: none;
        }
    .modal-footer {
        border-top: none;
        }
    h4 {
        font-weight: bold;
        color: #94c93b;
        }
    h1 {
        color:#94c93b; 
        font-family: "Segoe UI";
        font-weight: 900;
    }
    .btn-no, .btn-si {
        background-color: #ffffff;
        border-radius: 5px;
        padding: 5px 5px;
        min-width: 50px;
        border: 1px solid;
        }
    .btn-no {
        color: #fd1d1d;
        border-color: #fd1d1d;
        width: 100px;
        }
    .btn-no:hover {
        background-color: #fd1d1d;
        color: #ffffff;
        }
    .btn-si {
        color: #8bc02f;
        border-color: #8bc02f;
        width: 100px;
        }
    .btn-si:hover {
        background-color: #8bc02f;
        color: #ffffff;
        }
    .checkverde {
        color:#94c93b; 
        }
    .text-completo {
        color: #94c93b;
        font-size: 15px;
        font-weight: 900;
        }
    .text-incompleto {
        color: red;
        font-size: 15px;
        font-weight: 900;
        }
    .text-aprobado {
        color: #94c93b;
        font-size: 15px;
        font-weight: 900;
        }
    .text-enrevision {
        color: #41b5eb;
        font-size: 15px;
        font-weight: 900;
        }
    .text-solicitorevision {
        color: #faa625;
        font-size: 15px;
        font-weight: 900;
        }
    .btn-verdetalles {
        background-color:  #ffffff;
        color: #25c8fa;
        border-color: #25c8fa;
        border-radius: 5px;
        padding: 2px 10px;
        }
    .btn-verdetalles:hover {
        background-color: #25c8fa;
        color: #ffffff;
        }
    .pendiente {color:#fb2525; 
        font-weight: 900;
        font-size: 15px;
        }
    .btn-veracciones2 {
        background-color:  #ffffff;
        color: #faa625;
        border-color: #faa625;
        border-radius: 5px;
        padding: 2px 10px;
        }
    .btn-veracciones2:hover {
        background-color: #faa625;
        color: #ffffff;
        }
    .btn-enviarobservacion {
        background-color:  #ffffff;
        color: #41b5eb;
        border-color: #41b5eb;
        border-radius: 5px;
        padding: 2px 10px;
        }
    .btn-enviarobservacion:hover {
        background-color: #41b5eb;
        color: #ffffff;
        }
    .btn-observaciones {
        background-color:  #ffffff;
        color: #876f4a;
        border-color: #876f4a;
        border-radius: 5px;
        padding: 2px 10px;
        }
    .btn-observaciones:hover {
        background-color: #876f4a;
        color: #ffffff;
        }
    .btn-solicitarrevision {
        background-color:  #ffffff;
        color: #41b5eb;
        border-color: #41b5eb;
        border-radius: 5px;
        padding: 2px 10px;
        }
    .btn-solicitarrevision:hover {
        background-color: #41b5eb;
        color: #ffffff;
        }
    .btn-aprobarinforme {
        background-color:  #ffffff;
        color: #faa625;
        border-color: #faa625;
        border-radius: 5px;
        padding: 2px 10px;
        }
    .btn-aprobarinforme:hover {
        background-color: #faa625;
        color: #ffffff;
        }
    .btn-subirinforme {
        background-color:  #ffffff;
        color: #cf44b8;
        border-color: #cf44b8;
        border-radius: 5px;
        padding: 2px 10px;
        }
    .btn-subirinforme:hover {
        background-color: #cf44b8;
        color: #ffffff;
        }
    .btn-asignarproveedor {
        background-color:  #ffffff;
        color: #faa625;
        border-color: #faa625;
        border-radius: 5px;
        padding: 2px 40px;
        }
    .btn-asignarproveedor:hover {
        background-color: #faa625;
        color: #ffffff;
        }
    .btn-disabled {
        background-color:  #ffffff;
        color: #737373;
        border-color: #737373;
        border-radius: 5px;
        padding: 2px 10px;
        }
    .btn-disabled:hover {
        background-color: #737373;
        color: #ffffff;
        }
    .btn-cerrar {
        background-color: #ffffff;
        color: #fb2525;
        border-color: #fb2525;
        border-radius: 5px;
        padding: 2px 5px;
        }
    .btn-cerrar:hover {
        background-color: #fb2525;
        color: #ffffff;
        }
    .btn-solicitocorreccion {
        background-color: #ffffff;
        color: #faa625;
        border-color: #faa625;
        border-radius: 5px;
        padding: 2px 5px;
        }
    .btn-solicitocorreccion:hover {
        background-color: #faa625;
        color: #ffffff;
        }
    .btn-guardarobservacion {
        background-color: #ffffff;
        color: #94c93b;
        border-color: #94c93b;
        border-radius: 5px;
        padding: 2px 5px;
        }
    .btn-guardarobservacion:hover {
        background-color: #94c93b;
        color: #ffffff;
        }
        .table td {
            padding: 5px 10px;
        }
        td {
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }
        .truncar {
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            max-width: 150px;
        }
        .truncar2 {
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            max-width: 100px;
        }
        .btn-bateria {
            background-color:  #ffffff;
            color: #faa625;
            border-color: #faa625;
            border-radius: 5px;
            padding: 2px 6px;
        }
        .btn-bateria:hover {
            background-color: #faa625;
            color: #ffffff;
        }
        .btn-veracciones {
            background-color:  #ffffff;
            color: #94c93b;
            border-color: #94c93b;
            border-radius: 5px;
            padding: 2px 6px;
            }
        .btn-veracciones:hover {
            background-color: #94c93b;
            color: #ffffff;
            }
        .btn-requisitosdocumentos {
            background-color:  #ffffff;
            color: #b0b0b0;
            border-color: #b0b0b0;
            border-radius: 5px;
            padding: 2px 6px;
            }
        .btn-requisitosdocumentos:hover {
            background-color: #b0b0b0;
            color: #ffffff;
            }
        .btn-verdocumentacion {
            background-color:  #ffffff;
            color: #94c93b;
            border-color: #94c93b;
            border-radius: 5px;
            padding: 2px 6px;
            }
        .btn-verdocumentacion:hover {
            background-color: #94c93b;
            color: #ffffff;
            }
        .btn-verhistoriamedica {
            background-color:  #ffffff;
            color: #c9c971;
            border-color: #c9c971;
            border-radius: 5px;
            padding: 2px 6px;
            }
        .btn-verhistoriamedica:hover {
            background-color: #c9c971;
            color: #ffffff;
            }
        .btn-aprobar {
            background-color:  #ffffff;
            color: #faa625;
            border-color: #faa625;
            border-radius: 5px;
            padding: 2px 6px;
            }
        .btn-aprobar:hover {
            background-color: #faa625;
            color: #ffffff;
            }
            .btn-subirinformeinicio {
            background-color:  #ffffff;
            color: #cf44b8;
            border-color: #cf44b8;
            border-radius: 5px;
            padding: 2px 6px;
            }
        .btn-subirinformeinicio:hover {
            background-color: #cf44b8;
            color: #ffffff;
            }
        .btn-verinformefirmado {
            background-color:  #ffffff;
            color: #ac26be;
            border-color: #ac26be;
            border-radius: 5px;
            padding: 2px 6px;
        }
        .btn-verinformefirmado:hover {
            background-color: #ac26be;
            color: #ffffff;
        }
        .btn-verinformeword {
            background-color:  #ffffff;
            color: #162ab0;
            border-color: #162ab0;
            border-radius: 5px;
            padding: 2px 6px;
        }
        .btn-verinformeword:hover {
            background-color: #162ab0;
            color: #ffffff;
        }