    .btn-generarpdf {
        background-color: #ffffff;
        color: #94c93b;
        border-color: #94c93b;
        border-radius: 5px;
        padding: 10px 15px;
        transition: background-color 0.3s ease, color 0.3s ease;
    }
    .btn-generarpdf:hover {
        background-color: #94c93b;
        color: #ffffff;
    }
    .color-toggle {
        min-height: 20px;
        color: red;
        cursor: pointer;
    }
    .color-toggle.black {
        color: black;
    }
    h5 {
        color:#94c93b; 
        font-family: "Segoe UI";
        font-weight: 500;
        margin-bottom: 0%;
    }
    h3 {
        color:#94c93b; 
        font-family: "Segoe UI";
        font-weight: 800;
        font-size: 23px;
    }
    input[type="checkbox"] {
        transform: scale(1.5);
        margin-right: 5px;
    }
    input[type="checkbox"]:checked {
        background-color: green;
    }
    h1{
        color:#94c93b; 
        font-family: "Segoe UI";
        font-weight: 900;
    }
    .btn-crear {
        background-color:  #ffffff;
        color: #94c93b;
        border-color: #94c93b;
        border-radius: 5px;
        padding: 5px 15px;
    }
    .btn-crear:hover {
        background-color: #94c93b;
        color: #ffffff;
    }
    .btn-derivar {
        background-color:  #ffffff;
        color: #faa625;
        border-color: #faa625;
        border-radius: 5px;
        padding: 10px 15px;
    }
    .btn-derivar:hover {
        background-color: #faa625;
        color: #ffffff;
    }
    .btn-aprobarbateria {
        background-color:  #ffffff;
        color: #25b6fa;
        border-color: #25b6fa;
        border-radius: 5px;
        padding: 10px 10px;
    }
    .btn-aprobarbateria:hover {
        background-color: #25b6fa;
        color: #ffffff;
    }
    .btn-informefinal {
        background-color:  #ffffff;
        color: #3acd42;
        border-color: #3acd42;
        border-radius: 5px;
        padding: 10px 10px;
    }
    .btn-informefinal:hover {
        background-color: #3acd42;
        color: #ffffff;
    }
    .btn-regresar {
        background-color: #ffffff;
        color: #2926e2;
        border-color: #2926e2;
        border-radius: 5px;
        padding: 5px 10px;
    }
    .btn-regresar:hover {
        background-color: #2926e2;
        color: #ffffff;
    }
    .btn-subirrequisitos {
        background-color: #ffffff;
        color: #faa625;
        border-color: #faa625;
        border-radius: 5px;
        padding: 5px 10px;
        margin-left: 10px;
        margin-right: 10px;
    }
    .btn-subirrequisitos:hover {
        background-color: #faa625;
        color: #ffffff;
    }
    .btn-consen {
        background-color: #ffffff;
        color: #af25fa;
        border-color: #af25fa;
        border-radius: 5px;
        padding: 10px 10px;
    }
    .btn-consen:hover {
        background-color: #af25fa;
        color: #ffffff;
    }