h1, th {
    color:#94c93b; 
    font-family: "Segoe UI";
    font-weight: 900;
    }

.btn-editar {
    background-color:  #ffffff;
    color: #94c93b;
    border-color: #94c93b;
    border-radius: 5px;
    padding: 10px 20px;
    }

.btn-editar:hover {
    background-color: #94c93b;
    color: #ffffff;
    }